Django==5.0.2
nfl_data_py
thefuzz
python-Levenshtein
json5
timedelta
numpy
pulp
celery
gunicorn
whitenoise
psycopg2-binary
python-dotenv
django-cloudinary-storage
Pillow
django-cors-headers==4.3.1
scipy